In [1]:
import zipfile
import os
import pandas as pd
import numpy

/Users/vega7unk/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
zip_dir = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/ATL'

# Directory to extract CSV files
extract_dir = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/ATL'

# The output CSV file where all data will be merged
output_csv = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ATL_merged.csv'

os.makedirs(extract_dir, exist_ok=True)

In [3]:
# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ATL_merged.csv.

In [4]:
df = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ATL_merged.csv')

In [5]:
df.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,ee4aaff43c557e1704ebf52b8abf25ad,2022-05-13,2022-06-15,ATL,BOS,PT8H51M,False,False,False,124.78,...,1655327040||1655351760,2022-06-15T17:04:00.000-04:00||2022-06-15T23:5...,FLL||BOS,ATL||FLL,Spirit Airlines||Spirit Airlines,NK||NK,||,7140||11760,None||None,coach||coach
1,284bffb121ffdafba55f69d6d89a4b7d,2022-05-13,2022-06-15,ATL,BOS,PT12H31M,False,False,False,138.58,...,1655309340||1655349060,2022-06-15T12:09:00.000-04:00||2022-06-15T23:1...,MCO||BOS,ATL||MCO,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||AIRBUS INDUST...,5340||11160,None||None,coach||coach
2,8efdd07b82644146d45978f61d081f3b,2022-05-13,2022-06-15,ATL,BOS,PT4H35M,False,False,False,148.60,...,1655312340||1655321940,2022-06-15T12:59:00.000-04:00||2022-06-15T15:3...,DCA||BOS,ATL||DCA,American Airlines||American Airlines,AA||AA,Embraer 175||Airbus A319,6900||5940,541||406,coach||coach
3,e03c8964b4feb4e206636a9c5c0015b2,2022-05-13,2022-06-15,ATL,BOS,PT4H38M,False,False,False,148.60,...,1655300100||1655309340,2022-06-15T09:35:00.000-04:00||2022-06-15T12:0...,PHL||BOS,ATL||PHL,American Airlines||American Airlines,AA||AA,Airbus A320||Airbus A321,7440||5160,667||280,coach||coach
4,f44658d6761962cecc3eabc0a29d6ef9,2022-05-13,2022-06-15,ATL,BOS,PT6H43M,False,False,False,148.60,...,1655304660||1655321940,2022-06-15T10:51:00.000-04:00||2022-06-15T15:3...,DCA||BOS,ATL||DCA,American Airlines||American Airlines,AA||AA,Canadair Regional Jet 900||Airbus A319,6900||5940,541||406,coach||coach

In [7]:
df.shape

(874069, 23)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874069 entries, 0 to 874068
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              874069 non-null  object
 1   searchDate                         874069 non-null  object
 2   flightDate                         874069 non-null  object
 3   startingAirport                    874069 non-null  object
 4   destinationAirport                 874069 non-null  object
 5   travelDuration                     874069 non-null  object
 6   isBasicEconomy                     874069 non-null  bool
 7   isRefundable                       874069 non-null  bool
 8   isNonStop                          874069 non-null  bool
 9   totalFare                          874069 non-null  float64
 10  totalTravelDistance                769021 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  874069 non-null  object
 12  segmentsDepartureTimeRaw           874069 non-null  object
 13  segmentsArrivalTimeEpochSeconds    874069 non-null  object
 14  segmentsArrivalTimeRaw             874069 non-null  object
 15  segmentsArrivalAirportCode         874069 non-null  object
 16  segmentsDepartureAirportCode       874069 non-null  object
 17  segmentsAirlineName                874069 non-null  object
 18  segmentsAirlineCode                874069 non-null  object
 19  segmentsEquipmentDescription       848482 non-null  object
 20  segmentsDurationInSeconds          874069 non-null  object
 21  segmentsDistance                   856849 non-null  object
 22  segmentsCabinCode                  874069 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 135.9+ MB

In [10]:
zip_dir_bos = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/BOS'

# Directory to extract CSV files
extract_dir_bos = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/BOS'

# The output CSV file where all data will be merged
output_csv_bos = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/BOS_merged.csv'

os.makedirs(extract_dir_bos, exist_ok=True)

In [11]:
# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_bos):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_bos, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_bos)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_bos, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_bos, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_bos}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/BOS_merged.csv.

In [12]:
df_BOS = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/BOS_merged.csv')

In [13]:
df_BOS.shape

(989175, 23)

In [14]:
df_BOS.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,9a5a4eb6d6c5c96d69ff46ad3c12d309,2022-04-18,2022-05-22,BOS,ATL,PT11H15M,False,False,False,92.78,...,1653239460||1653268200,2022-05-22T13:11:00.000-04:00||2022-05-22T21:1...,FLL||ATL,BOS||FLL,Spirit Airlines||Spirit Airlines,NK||NK,Airbus A319||AIRBUS INDUSTRIE A321 SHARKLETS,11760||6900,None||None,coach||coach
1,0873a112be6674c43a495117de163a03,2022-04-18,2022-05-22,BOS,ATL,PT2H59M,False,False,True,118.60,...,1653229320,2022-05-22T10:22:00.000-04:00,ATL,BOS,JetBlue Airways,B6,NaN,10740,947,coach
2,5a79fde77bc19dac99075d497a52fbd5,2022-04-18,2022-05-22,BOS,ATL,PT9H29M,False,False,False,144.78,...,1653259680||1653281640,2022-05-22T18:48:00.000-04:00||2022-05-23T00:5...,MIA||ATL,BOS||MIA,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||Airbus A319,12180||6900,None||None,coach||coach
3,39c570dfaef5ba1e7185517ff0c24aea,2022-04-18,2022-05-22,BOS,ATL,PT2H59M,False,False,True,148.60,...,1653229320,2022-05-22T10:22:00.000-04:00,ATL,BOS,American Airlines,AA,NaN,10740,947,coach
4,5816d779a59982c599dfe5635e73a6e6,2022-04-18,2022-05-22,BOS,ATL,PT3H,False,False,True,160.59,...,1653276600,2022-05-22T23:30:00.000-04:00,ATL,BOS,Spirit Airlines,NK,Airbus A319,10800,NaN,coach

In [15]:
df_BOS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989175 entries, 0 to 989174
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              989175 non-null  object
 1   searchDate                         989175 non-null  object
 2   flightDate                         989175 non-null  object
 3   startingAirport                    989175 non-null  object
 4   destinationAirport                 989175 non-null  object
 5   travelDuration                     989175 non-null  object
 6   isBasicEconomy                     989175 non-null  bool
 7   isRefundable                       989175 non-null  bool
 8   isNonStop                          989175 non-null  bool
 9   totalFare                          989175 non-null  float64
 10  totalTravelDistance                938789 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  989175 non-null  object
 12  segmentsDepartureTimeRaw           989175 non-null  object
 13  segmentsArrivalTimeEpochSeconds    989175 non-null  object
 14  segmentsArrivalTimeRaw             989175 non-null  object
 15  segmentsArrivalAirportCode         989175 non-null  object
 16  segmentsDepartureAirportCode       989175 non-null  object
 17  segmentsAirlineName                989175 non-null  object
 18  segmentsAirlineCode                989175 non-null  object
 19  segmentsEquipmentDescription       970429 non-null  object
 20  segmentsDurationInSeconds          989175 non-null  object
 21  segmentsDistance                   985889 non-null  object
 22  segmentsCabinCode                  989175 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 153.8+ MB

In [16]:
zip_dir_clt = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/CLT'

# Directory to extract CSV files
extract_dir_clt = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/CLT'

# The output CSV file where all data will be merged
output_csv_clt = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/CLT_merged.csv'

os.makedirs(extract_dir_clt, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_clt):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_clt, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_clt)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_clt, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_clt, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_clt}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/CLT_merged.csv.

In [17]:
df_CLT = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/CLT_merged.csv')

In [18]:
df_CLT.shape

(854536, 23)

In [19]:
df_CLT.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,30e9e8f5d925591585451d8f2f1a74ae,2022-05-19,2022-05-31,CLT,ATL,PT11H33M,True,False,False,141.7,...,1654053240||1654087080,2022-05-31T23:14:00.000-04:00||2022-06-01T08:3...,EWR||ATL,CLT||EWR,United||United,UA||UA,Embraer 175 (Enhanced Winglets)||Airbus A319,7740||8580,545||762,coach||coach
1,3172f0b8d27f9be423cda9f20cac2685,2022-05-19,2022-05-31,CLT,ATL,PT8H17M,False,False,False,245.6,...,1653996120||1654005120||1654021020,2022-05-31T07:22:00.000-04:00||2022-05-31T09:5...,IAD||EWR||ATL,CLT||IAD||EWR,United||United||United,UA||UA||UA,Embraer 175 (Enhanced Winglets)||Boeing 757-20...,4920||4740||8280,327||221||762,coach||coach||coach
2,b6536e49b0d96e45256e6fe0259f1111,2022-05-19,2022-05-31,CLT,ATL,PT11H10M,False,False,False,294.2,...,1654021500||1654030200||1654055940,2022-05-31T14:25:00.000-04:00||2022-05-31T16:5...,MCO||MIA||ATL,CLT||MCO||MIA,American Airlines||American Airlines||American...,AA||AA||AA,Airbus A321||Boeing 737-800||Airbus A321,5760||4200||8040,464||199||596,coach||coach||coach
3,d21174436660b40efb10b58bbff79a52,2022-05-19,2022-05-31,CLT,ATL,PT12H24M,False,False,False,294.2,...,1654016580||1654030380||1654055940,2022-05-31T13:03:00.000-04:00||2022-05-31T16:5...,JAX||MIA||ATL,CLT||JAX||MIA,American Airlines||American Airlines||American...,AA||AA||AA,Airbus A319||Embraer 175||Airbus A321,5280||4740||8040,334||330||596,coach||coach||coach
4,fcf0c6ee9bdd6d436a409e2b43834d4f,2022-05-19,2022-05-31,CLT,ATL,PT6H1M,False,False,False,314.1,...,1654041960||1654055700,2022-05-31T20:06:00.000-04:00||2022-05-31T23:5...,EWR||ATL,CLT||EWR,United||United,UA||UA,Embraer 170||Airbus A320,7920||8760,545||762,coach||coach

In [20]:
df_CLT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854536 entries, 0 to 854535
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              854536 non-null  object
 1   searchDate                         854536 non-null  object
 2   flightDate                         854536 non-null  object
 3   startingAirport                    854536 non-null  object
 4   destinationAirport                 854536 non-null  object
 5   travelDuration                     854536 non-null  object
 6   isBasicEconomy                     854536 non-null  bool
 7   isRefundable                       854536 non-null  bool
 8   isNonStop                          854536 non-null  bool
 9   totalFare                          854536 non-null  float64
 10  totalTravelDistance                818065 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  854536 non-null  object
 12  segmentsDepartureTimeRaw           854536 non-null  object
 13  segmentsArrivalTimeEpochSeconds    854536 non-null  object
 14  segmentsArrivalTimeRaw             854536 non-null  object
 15  segmentsArrivalAirportCode         854536 non-null  object
 16  segmentsDepartureAirportCode       854536 non-null  object
 17  segmentsAirlineName                854536 non-null  object
 18  segmentsAirlineCode                854536 non-null  object
 19  segmentsEquipmentDescription       849206 non-null  object
 20  segmentsDurationInSeconds          854536 non-null  object
 21  segmentsDistance                   853585 non-null  object
 22  segmentsCabinCode                  854536 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 132.8+ MB

In [21]:
zip_dir_den = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/DEN'

# Directory to extract CSV files
extract_dir_den = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/DEN'

# The output CSV file where all data will be merged
output_csv_den = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DEN_merged.csv'

os.makedirs(extract_dir_den, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_den):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_den, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_den)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_den, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_den, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_den}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DEN_merged.csv.

In [22]:
df_DEN = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DEN_merged.csv')

In [23]:
df_DEN.shape

(770429, 23)

In [24]:
df_DEN.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,c4c15e7477db14816d98a386e73565f3,2022-05-18,2022-06-06,DEN,DTW,PT5H54M,False,False,False,544.6,...,1654527000||1654540920,2022-06-06T09:50:00.000-05:00||2022-06-06T14:4...,DFW||DTW,DEN||DFW,American Airlines||American Airlines,AA||AA,Airbus A321||Boeing 737-800,7320||9720,650||995,coach||coach
1,70ab7b83ef88886725bbe8e303178a3b,2022-05-18,2022-06-06,DEN,DTW,PT6H24M,False,False,False,548.6,...,1654540980||1654557060,2022-06-06T13:43:00.000-05:00||2022-06-06T19:1...,DFW||DTW,DEN||DFW,American Airlines||American Airlines,AA||AA,Airbus A321||Boeing 737-800,6960||9540,650||995,coach||coach
2,f97c09a0c43c5cd3614d3dade8a18e8b,2022-05-18,2022-06-06,DEN,DTW,PT4H42M,False,False,False,651.6,...,1654553220||1654560900,2022-06-06T17:07:00.000-05:00||2022-06-06T20:1...,ORD||DTW,DEN||ORD,United||United,UA||UA,Boeing 737-900||Embraer 175 (Enhanced Winglets),9240||5100,903||240,coach||coach
3,330f7175c4ed2c518e46fca1155af3f7,2022-05-18,2022-06-06,DEN,EWR,PT3H41M,False,False,True,237.6,...,1654577100,2022-06-07T00:45:00.000-04:00,EWR,DEN,United,UA,Boeing 737-900,13260,1621,coach
4,b92770186538da8daaf0e3fae6471ecf,2022-05-18,2022-06-06,DEN,EWR,PT6H51M,False,False,False,307.6,...,1654593480||1654606200,2022-06-07T05:18:00.000-04:00||2022-06-07T08:5...,IAD||EWR,DEN||IAD,United||United,UA||UA,Boeing 737-900||Airbus A320,11940||4620,1473||221,coach||coach

In [25]:
df_DEN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770429 entries, 0 to 770428
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              770429 non-null  object
 1   searchDate                         770429 non-null  object
 2   flightDate                         770429 non-null  object
 3   startingAirport                    770429 non-null  object
 4   destinationAirport                 770429 non-null  object
 5   travelDuration                     770429 non-null  object
 6   isBasicEconomy                     770429 non-null  bool
 7   isRefundable                       770429 non-null  bool
 8   isNonStop                          770429 non-null  bool
 9   totalFare                          770429 non-null  float64
 10  totalTravelDistance                735319 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  770429 non-null  object
 12  segmentsDepartureTimeRaw           770429 non-null  object
 13  segmentsArrivalTimeEpochSeconds    770429 non-null  object
 14  segmentsArrivalTimeRaw             770429 non-null  object
 15  segmentsArrivalAirportCode         770429 non-null  object
 16  segmentsDepartureAirportCode       770429 non-null  object
 17  segmentsAirlineName                770429 non-null  object
 18  segmentsAirlineCode                770429 non-null  object
 19  segmentsEquipmentDescription       755614 non-null  object
 20  segmentsDurationInSeconds          770429 non-null  object
 21  segmentsDistance                   767655 non-null  object
 22  segmentsCabinCode                  770429 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 119.8+ MB

In [26]:
zip_dir_dfw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/DFW'

# Directory to extract CSV files
extract_dir_dfw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/DFW'

# The output CSV file where all data will be merged
output_csv_dfw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DFW_merged.csv'

os.makedirs(extract_dir_dfw, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_dfw):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_dfw, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_dfw)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_dfw, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_dfw, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_dfw}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DFW_merged.csv.

In [27]:
df_DFW = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DFW_merged.csv')

In [28]:
df_DFW.shape

(896596, 23)

In [29]:
df_DFW.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,5db2f9ca9401fcafd601c699eec6c9dc,2022-04-19,2022-05-21,DFW,ATL,PT2H8M,False,False,True,68.59,...,1653160440,2022-05-21T15:14:00.000-04:00,ATL,DFW,Spirit Airlines,NK,NaN,7680,NaN,coach
1,1d1d1df31936643921f62bb7e17c41b5,2022-04-19,2022-05-21,DFW,ATL,PT2H15M,False,False,True,68.98,...,1653164340,2022-05-21T16:19:00.000-04:00,ATL,DFW,Frontier Airlines,F9,NaN,8100,725,coach
2,2a44a4b90de67adeeb9d5f2d2169a3ef,2022-04-19,2022-05-21,DFW,ATL,PT2H4M,True,False,True,113.60,...,1653146640,2022-05-21T11:24:00.000-04:00,ATL,DFW,Delta,DL,Airbus A321,7440,725,coach
3,8357772132251b9c07bc5a1bc76b52ce,2022-04-19,2022-05-21,DFW,ATL,PT2H5M,True,False,True,113.60,...,1653138300,2022-05-21T09:05:00.000-04:00,ATL,DFW,Delta,DL,Airbus A321,7500,725,coach
4,e300325495de1f8202dc5dff3b20d012,2022-04-19,2022-05-21,DFW,ATL,PT2H5M,True,False,True,113.60,...,1653164040,2022-05-21T16:14:00.000-04:00,ATL,DAL,Delta,DL,Boeing 717,7500,725,coach

In [30]:
df_DFW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896596 entries, 0 to 896595
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              896596 non-null  object
 1   searchDate                         896596 non-null  object
 2   flightDate                         896596 non-null  object
 3   startingAirport                    896596 non-null  object
 4   destinationAirport                 896596 non-null  object
 5   travelDuration                     896596 non-null  object
 6   isBasicEconomy                     896596 non-null  bool
 7   isRefundable                       896596 non-null  bool
 8   isNonStop                          896596 non-null  bool
 9   totalFare                          896596 non-null  float64
 10  totalTravelDistance                791866 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  896596 non-null  object
 12  segmentsDepartureTimeRaw           896596 non-null  object
 13  segmentsArrivalTimeEpochSeconds    896596 non-null  object
 14  segmentsArrivalTimeRaw             896596 non-null  object
 15  segmentsArrivalAirportCode         896596 non-null  object
 16  segmentsDepartureAirportCode       896596 non-null  object
 17  segmentsAirlineName                896596 non-null  object
 18  segmentsAirlineCode                896596 non-null  object
 19  segmentsEquipmentDescription       874917 non-null  object
 20  segmentsDurationInSeconds          896596 non-null  object
 21  segmentsDistance                   881853 non-null  object
 22  segmentsCabinCode                  896596 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 139.4+ MB

In [31]:
zip_dir_dtw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/DTW'

# Directory to extract CSV files
extract_dir_dtw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/DTW'

# The output CSV file where all data will be merged
output_csv_dtw = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DTW_merged.csv'

os.makedirs(extract_dir_dtw, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_dtw):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_dtw, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_dtw)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_dtw, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_dtw, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_dtw}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DTW_merged.csv.

In [32]:
df_DTW = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/DTW_merged.csv')

In [33]:
df_DTW.shape

(747751, 23)

In [34]:
df_DTW.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,ffe5536aaa49525a5140ef19343a301d,2022-05-01,2022-05-19,DTW,ATL,PT2H6M,False,False,True,53.99,...,1652982840,2022-05-19T13:54:00.000-04:00,ATL,DTW,Frontier Airlines,F9,NaN,7560,604,coach
1,6ea22400a4518557ec207fc47b933d7e,2022-05-01,2022-05-19,DTW,ATL,PT1H58M,False,False,True,85.59,...,1653018720,2022-05-19T23:52:00.000-04:00,ATL,DTW,Spirit Airlines,NK,NaN,7080,NaN,coach
2,ff2dffc6f115ac5ef4901a5a69f1ef44,2022-05-01,2022-05-19,DTW,ATL,PT6H44M,False,False,False,156.58,...,1653005700||1653019140,2022-05-19T20:15:00.000-04:00||2022-05-19T23:5...,FLL||ATL,DTW||FLL,Spirit Airlines||Spirit Airlines,NK||NK,||AIRBUS INDUSTRIE A320 SHARKLETS,10800||7200,None||None,coach||coach
3,3395b38e1cf1ad4fcd935f752b705f10,2022-05-01,2022-05-19,DTW,ATL,PT5H29M,False,False,False,181.60,...,1652961420||1652974740,2022-05-19T07:57:00.000-04:00||2022-05-19T11:3...,LGA||ATL,DTW||LGA,American Airlines||American Airlines,AA||AA,Embraer 170||Embraer 175,6420||9540,485||762,coach||coach
4,62960ee1bcb5b69f34688168f0b68d9e,2022-05-01,2022-05-19,DTW,ATL,PT7H26M,False,False,False,181.60,...,1652984940||1653005400,2022-05-19T14:29:00.000-04:00||2022-05-19T20:1...,LGA||ATL,DTW||LGA,American Airlines||American Airlines,AA||AA,Embraer 175||Embraer 170,6300||9660,485||762,coach||coach

In [35]:
df_DTW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747751 entries, 0 to 747750
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              747751 non-null  object
 1   searchDate                         747751 non-null  object
 2   flightDate                         747751 non-null  object
 3   startingAirport                    747751 non-null  object
 4   destinationAirport                 747751 non-null  object
 5   travelDuration                     747751 non-null  object
 6   isBasicEconomy                     747751 non-null  bool
 7   isRefundable                       747751 non-null  bool
 8   isNonStop                          747751 non-null  bool
 9   totalFare                          747751 non-null  float64
 10  totalTravelDistance                659173 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  747751 non-null  object
 12  segmentsDepartureTimeRaw           747751 non-null  object
 13  segmentsArrivalTimeEpochSeconds    747751 non-null  object
 14  segmentsArrivalTimeRaw             747751 non-null  object
 15  segmentsArrivalAirportCode         747751 non-null  object
 16  segmentsDepartureAirportCode       747751 non-null  object
 17  segmentsAirlineName                747751 non-null  object
 18  segmentsAirlineCode                747751 non-null  object
 19  segmentsEquipmentDescription       741271 non-null  object
 20  segmentsDurationInSeconds          747751 non-null  object
 21  segmentsDistance                   734734 non-null  object
 22  segmentsCabinCode                  747751 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 116.2+ MB

In [37]:
zip_dir_ewr = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/EWR'

# Directory to extract CSV files
extract_dir_ewr = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/EWR'

# The output CSV file where all data will be merged
output_csv_ewr = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/EWR_merged.csv'

os.makedirs(extract_dir_dtw, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_ewr):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_ewr, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_ewr)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_ewr, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_ewr, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_ewr}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/EWR_merged.csv.

In [38]:
df_EWR = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/EWR_merged.csv')

In [39]:
df_EWR.shape

(699628, 23)

In [40]:
df_EWR.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,fbf52ce4fe8aa3b178d2b922e1f290f9,2022-04-19,2022-05-23,EWR,ATL,PT6H39M,False,False,False,74.78,...,1653351600||1653364740,2022-05-23T20:20:00.000-04:00||2022-05-23T23:5...,FLL||ATL,EWR||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||AIRBUS INDUST...,10800||7200,None||None,coach||coach
1,6ecf39ef67f0197e7d9e0ec88bffb1ee,2022-04-19,2022-05-23,EWR,ATL,PT9H43M,False,False,False,74.78,...,1653330360||1653354600,2022-05-23T14:26:00.000-04:00||2022-05-23T21:1...,FLL||ATL,EWR||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||AIRBUS INDUST...,10740||6900,None||None,coach||coach
2,32703eee6b414c8189f23fa3c50cbe92,2022-04-19,2022-05-23,EWR,ATL,PT12H32M,False,False,False,74.78,...,1653330360||1653364740,2022-05-23T14:26:00.000-04:00||2022-05-23T23:5...,FLL||ATL,EWR||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||AIRBUS INDUST...,10740||7200,None||None,coach||coach
3,58a627cd72a301da26d66e8374b777c0,2022-04-19,2022-05-23,EWR,ATL,PT3H44M,True,False,False,101.10,...,1653327180||1653334140,2022-05-23T13:33:00.000-04:00||2022-05-23T15:2...,CLT||ATL,EWR||CLT,American Airlines||American Airlines,AA||AA,Boeing 737-800||Airbus A319,6480||3840,545||228,coach||coach
4,b38cfe2b5616cb5d41a33f0567bd39ed,2022-04-19,2022-05-23,EWR,ATL,PT3H54M,True,False,False,101.10,...,1653302400||1653310440,2022-05-23T06:40:00.000-04:00||2022-05-23T08:5...,CLT||ATL,EWR||CLT,American Airlines||American Airlines,AA||AA,Airbus A321||Embraer 175,6000||4680,545||228,coach||coach

In [41]:
df_EWR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699628 entries, 0 to 699627
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              699628 non-null  object
 1   searchDate                         699628 non-null  object
 2   flightDate                         699628 non-null  object
 3   startingAirport                    699628 non-null  object
 4   destinationAirport                 699628 non-null  object
 5   travelDuration                     699628 non-null  object
 6   isBasicEconomy                     699628 non-null  bool
 7   isRefundable                       699628 non-null  bool
 8   isNonStop                          699628 non-null  bool
 9   totalFare                          699628 non-null  float64
 10  totalTravelDistance                618446 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  699628 non-null  object
 12  segmentsDepartureTimeRaw           699628 non-null  object
 13  segmentsArrivalTimeEpochSeconds    699628 non-null  object
 14  segmentsArrivalTimeRaw             699628 non-null  object
 15  segmentsArrivalAirportCode         699628 non-null  object
 16  segmentsDepartureAirportCode       699628 non-null  object
 17  segmentsAirlineName                699628 non-null  object
 18  segmentsAirlineCode                699628 non-null  object
 19  segmentsEquipmentDescription       689431 non-null  object
 20  segmentsDurationInSeconds          699628 non-null  object
 21  segmentsDistance                   693842 non-null  object
 22  segmentsCabinCode                  699628 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 108.8+ MB

In [42]:
zip_dir_iad = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/IAD'

# Directory to extract CSV files
extract_dir_iad = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/IAD'

# The output CSV file where all data will be merged
output_csv_iad = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/IAD_merged.csv'

os.makedirs(extract_dir_iad, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_iad):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_iad, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_iad)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_iad, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_iad, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_iad}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/IAD_merged.csv.

In [43]:
df_IAD = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/IAD_merged.csv')

In [44]:
df_IAD.shape

(594215, 23)

In [45]:
df_IAD.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,c259426b5ea906ad01d009f562505a05,2022-05-11,2022-05-15,IAD,ATL,PT1H43M,False,False,True,191.6,...,1652614980,2022-05-15T07:43:00.000-04:00,ATL,IAD,Delta,DL,Airbus A320,6180,541,coach
1,50a1bd60d11d2553fdfc5acaf6e52c81,2022-05-11,2022-05-15,IAD,ATL,PT1H44M,False,False,True,191.6,...,1652673540,2022-05-15T23:59:00.000-04:00,ATL,IAD,United,UA,Boeing 737-800,6240,541,coach
2,4480044d752e3442a98de0a01f68d4e4,2022-05-11,2022-05-15,IAD,ATL,PT2H1M,False,False,True,191.6,...,1652625660,2022-05-15T10:41:00.000-04:00,ATL,IAD,United,UA,Embraer 175 (Enhanced Winglets),7260,541,coach
3,e2bcfc746c7174b1b04d7431c6e51a04,2022-05-11,2022-05-15,IAD,ATL,PT3H57M,False,False,False,199.1,...,1652616300||1652625420,2022-05-15T08:05:00.000-04:00||2022-05-15T10:3...,CLT||ATL,IAD||CLT,American Airlines||American Airlines,AA||AA,Airbus A320||Canadair Regional Jet 900,5100||5340,327||228,coach||coach
4,132fb5f3b9f011a021525322236ad15b,2022-05-11,2022-05-15,IAD,ATL,PT1H46M,False,False,True,258.6,...,1652628840,2022-05-15T11:34:00.000-04:00,ATL,IAD,Delta,DL,Boeing 717,6360,541,coach

In [46]:
df_IAD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594215 entries, 0 to 594214
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              594215 non-null  object
 1   searchDate                         594215 non-null  object
 2   flightDate                         594215 non-null  object
 3   startingAirport                    594215 non-null  object
 4   destinationAirport                 594215 non-null  object
 5   travelDuration                     594215 non-null  object
 6   isBasicEconomy                     594215 non-null  bool
 7   isRefundable                       594215 non-null  bool
 8   isNonStop                          594215 non-null  bool
 9   totalFare                          594215 non-null  float64
 10  totalTravelDistance                590280 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  594215 non-null  object
 12  segmentsDepartureTimeRaw           594215 non-null  object
 13  segmentsArrivalTimeEpochSeconds    594215 non-null  object
 14  segmentsArrivalTimeRaw             594215 non-null  object
 15  segmentsArrivalAirportCode         594215 non-null  object
 16  segmentsDepartureAirportCode       594215 non-null  object
 17  segmentsAirlineName                594215 non-null  object
 18  segmentsAirlineCode                594215 non-null  object
 19  segmentsEquipmentDescription       583703 non-null  object
 20  segmentsDurationInSeconds          594215 non-null  object
 21  segmentsDistance                   593862 non-null  object
 22  segmentsCabinCode                  594215 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 92.4+ MB

In [47]:
zip_dir_jfk = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/JFK'

# Directory to extract CSV files
extract_dir_jfk = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/JFK'

# The output CSV file where all data will be merged
output_csv_jfk = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/JFK_merged.csv'

os.makedirs(extract_dir_jfk, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_jfk):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_jfk, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_jfk)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_jfk, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_jfk, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_jfk}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/JFK_merged.csv.

In [48]:
df_JFk = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/JFK_merged.csv')

In [49]:
df_JFk.shape

(688263, 23)

In [50]:
df_JFk.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,57ceb3c7b1a9fa75c4c0c75758369a66,2022-04-18,2022-06-07,JFK,ATL,PT2H20M,True,False,True,98.6,...,1654605900,2022-06-07T08:45:00.000-04:00,ATL,JFK,Delta,DL,Boeing 757,8400,762,coach
1,9e2680991774b3c309d32626f144316c,2022-04-18,2022-06-07,JFK,ATL,PT2H26M,False,False,True,98.6,...,1654622760,2022-06-07T13:26:00.000-04:00,ATL,JFK,JetBlue Airways,B6,Airbus A320,8760,762,coach
2,3e6bb30fe20e5092962e737728a4b342,2022-04-18,2022-06-07,JFK,ATL,PT2H29M,False,False,True,98.6,...,1654610340,2022-06-07T09:59:00.000-04:00,ATL,JFK,JetBlue Airways,B6,Airbus A320,8940,762,coach
3,ce43836e813466045801d44c421fb18a,2022-04-18,2022-06-07,JFK,ATL,PT2H30M,False,False,True,98.6,...,1654661400,2022-06-08T00:10:00.000-04:00,ATL,JFK,JetBlue Airways,B6,Airbus A320,9000,762,coach
4,e38193690139b4b8ce6628cf352b317c,2022-04-18,2022-06-07,JFK,ATL,PT2H43M,True,False,True,98.6,...,1654662300,2022-06-08T00:25:00.000-04:00,ATL,JFK,Delta,DL,Boeing 737-900,9780,762,coach

In [51]:
df_LAX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688263 entries, 0 to 688262
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              688263 non-null  object
 1   searchDate                         688263 non-null  object
 2   flightDate                         688263 non-null  object
 3   startingAirport                    688263 non-null  object
 4   destinationAirport                 688263 non-null  object
 5   travelDuration                     688263 non-null  object
 6   isBasicEconomy                     688263 non-null  bool
 7   isRefundable                       688263 non-null  bool
 8   isNonStop                          688263 non-null  bool
 9   totalFare                          688263 non-null  float64
 10  totalTravelDistance                684750 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  688263 non-null  object
 12  segmentsDepartureTimeRaw           688263 non-null  object
 13  segmentsArrivalTimeEpochSeconds    688263 non-null  object
 14  segmentsArrivalTimeRaw             688263 non-null  object
 15  segmentsArrivalAirportCode         688263 non-null  object
 16  segmentsDepartureAirportCode       688263 non-null  object
 17  segmentsAirlineName                688263 non-null  object
 18  segmentsAirlineCode                688263 non-null  object
 19  segmentsEquipmentDescription       672790 non-null  object
 20  segmentsDurationInSeconds          688263 non-null  object
 21  segmentsDistance                   687460 non-null  object
 22  segmentsCabinCode                  688263 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 107.0+ MB

In [53]:
zip_dir_lax = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/LAX'

# Directory to extract CSV files
extract_dir_lax = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/LAX'

# The output CSV file where all data will be merged
output_csv_lax = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LAX_merged.csv'

os.makedirs(extract_dir_lax, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_lax):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_lax, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_lax)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_lax, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_lax, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_lax}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LAX_merged.csv.

In [54]:
df_LAX = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LAX_merged.csv')

In [55]:
df_LAX.shape

(1352275, 23)

In [56]:
df_LAX.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,3aec6033b2424dada16a9382127f50de,2022-05-06,2022-05-14,LAX,DTW,PT8H26M,False,False,False,419.58,...,1652557320||1652583360,2022-05-14T12:42:00.000-07:00||2022-05-14T22:5...,LAS||DTW,LAX||LAS,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||Airbus A319,4320||13980,None||None,coach||coach
1,55afa61db5c00de7b3e1dcac4974844a,2022-05-06,2022-05-14,LAX,DTW,PT10H37M,False,False,False,419.58,...,1652605980||1652626620,2022-05-15T05:13:00.000-04:00||2022-05-15T10:5...,FLL||DTW,LAX||FLL,Spirit Airlines||Spirit Airlines,NK||NK,||AIRBUS INDUSTRIE A320 SHARKLETS,17580||10920,None||None,coach||coach
2,f133c251d7d0a341c0efa12b5883694c,2022-05-06,2022-05-14,LAX,DTW,PT13H26M,False,False,False,419.58,...,1652564040||1652608200,2022-05-14T14:34:00.000-07:00||2022-05-15T05:5...,LAS||DTW,LAX||LAS,Spirit Airlines||Spirit Airlines,NK||NK,Airbus A319||AIRBUS INDUSTRIE A321 SHARKLETS,4200||14040,None||None,coach||coach
3,71f47fdbe07b0dfbeffd0d879d4bcc81,2022-05-06,2022-05-14,LAX,DTW,PT6H35M,False,False,False,431.60,...,1652538720||1652556000,2022-05-14T08:32:00.000-06:00||2022-05-14T15:2...,SLC||DTW,ONT||SLC,Delta||Delta,DL||DL,Boeing 737-800||Airbus A321,6420||12840,559||1486,coach||coach
4,e3802867917e138890f55f4ab47e7998,2022-05-06,2022-05-14,LAX,DTW,PT6H43M,False,False,False,431.60,...,1652566920||1652584980,2022-05-14T16:22:00.000-06:00||2022-05-14T23:2...,SLC||DTW,ONT||SLC,Delta||Delta,DL||DL,Boeing 737-800||Boeing 737-900,6120||12480,559||1486,coach||coach

In [57]:
df_LAX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1352275 entries, 0 to 1352274
Data columns (total 23 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   legId                              1352275 non-null  object
 1   searchDate                         1352275 non-null  object
 2   flightDate                         1352275 non-null  object
 3   startingAirport                    1352275 non-null  object
 4   destinationAirport                 1352275 non-null  object
 5   travelDuration                     1352275 non-null  object
 6   isBasicEconomy                     1352275 non-null  bool
 7   isRefundable                       1352275 non-null  bool
 8   isNonStop                          1352275 non-null  bool
 9   totalFare                          1352275 non-null  float64
 10  totalTravelDistance                1230243 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  1352275 non-null  object
 12  segmentsDepartureTimeRaw           1352275 non-null  object
 13  segmentsArrivalTimeEpochSeconds    1352275 non-null  object
 14  segmentsArrivalTimeRaw             1352275 non-null  object
 15  segmentsArrivalAirportCode         1352275 non-null  object
 16  segmentsDepartureAirportCode       1352275 non-null  object
 17  segmentsAirlineName                1352275 non-null  object
 18  segmentsAirlineCode                1352275 non-null  object
 19  segmentsEquipmentDescription       1302363 non-null  object
 20  segmentsDurationInSeconds          1352275 non-null  object
 21  segmentsDistance                   1330913 non-null  object
 22  segmentsCabinCode                  1352275 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 210.2+ MB

In [58]:
zip_dir_lga = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/LGA'

# Directory to extract CSV files
extract_dir_lga = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/LGA'

# The output CSV file where all data will be merged
output_csv_lga = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LGA_merged.csv'

os.makedirs(extract_dir_lga, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_lga):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_lga, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_lga)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_lga, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_lga, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_lga}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LGA_merged.csv.

In [59]:
df_LGA = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/LGA_merged.csv')

In [60]:
df_LGA.shape

(1021938, 23)

In [61]:
df_LGA.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,4b2bfd6a588f5eb96996da7b59e99105,2022-05-05,2022-06-17,LGA,ATL,PT2H29M,False,False,True,102.99,...,1655529240,2022-06-18T01:14:00.000-04:00,ATL,LGA,Frontier Airlines,F9,Airbus A320,8940,762,coach
1,37029bf671cd38c89292ad4cddc42116,2022-05-05,2022-06-17,LGA,ATL,PT2H32M,False,False,True,116.98,...,1655486220,2022-06-17T13:17:00.000-04:00,ATL,LGA,Frontier Airlines,F9,NaN,9120,762,coach
2,7fafa91a111bc87925faf4c8a77d2873,2022-05-05,2022-06-17,LGA,ATL,PT5H50M,False,False,False,143.99,...,1655514120||1655524140,2022-06-17T21:02:00.000-04:00||2022-06-17T23:4...,MCO||ATL,LGA||MCO,Frontier Airlines||Frontier Airlines,F9||F9,Airbus A321||Airbus A320,10980||5700,952||399,coach||coach
3,5dc7616b73b0c137a6cf2cbc88037d9b,2022-05-05,2022-06-17,LGA,ATL,PT7H58M,False,False,False,152.58,...,1655471520||1655488680,2022-06-17T09:12:00.000-04:00||2022-06-17T13:5...,FLL||ATL,LGA||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||,11520||7080,None||None,coach||coach
4,03e9b9dd1e89b9e7f702484b79554501,2022-05-05,2022-06-17,LGA,ATL,PT11H11M,False,False,False,152.58,...,1655485920||1655514600,2022-06-17T13:12:00.000-04:00||2022-06-17T21:1...,FLL||ATL,LGA||FLL,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||AIRBUS INDUST...,11580||7200,None||None,coach||coach

In [62]:
df_LGA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1021938 entries, 0 to 1021937
Data columns (total 23 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   legId                              1021938 non-null  object
 1   searchDate                         1021938 non-null  object
 2   flightDate                         1021938 non-null  object
 3   startingAirport                    1021938 non-null  object
 4   destinationAirport                 1021938 non-null  object
 5   travelDuration                     1021938 non-null  object
 6   isBasicEconomy                     1021938 non-null  bool
 7   isRefundable                       1021938 non-null  bool
 8   isNonStop                          1021938 non-null  bool
 9   totalFare                          1021938 non-null  float64
 10  totalTravelDistance                978386 non-null   float64
 11  segmentsDepartureTimeEpochSeconds  1021938 non-null  object
 12  segmentsDepartureTimeRaw           1021938 non-null  object
 13  segmentsArrivalTimeEpochSeconds    1021938 non-null  object
 14  segmentsArrivalTimeRaw             1021938 non-null  object
 15  segmentsArrivalAirportCode         1021938 non-null  object
 16  segmentsDepartureAirportCode       1021938 non-null  object
 17  segmentsAirlineName                1021938 non-null  object
 18  segmentsAirlineCode                1021938 non-null  object
 19  segmentsEquipmentDescription       1010298 non-null  object
 20  segmentsDurationInSeconds          1021938 non-null  object
 21  segmentsDistance                   1014531 non-null  object
 22  segmentsCabinCode                  1021938 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 158.9+ MB

In [63]:
zip_dir_mia = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/MIA'

# Directory to extract CSV files
extract_dir_mia = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/MIA'

# The output CSV file where all data will be merged
output_csv_mia = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/MIA_merged.csv'

os.makedirs(extract_dir_mia, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_mia):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_mia, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_mia)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_mia, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_mia, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_mia}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/MIA_merged.csv.

In [64]:
df_MIA = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/MIA_merged.csv')

In [65]:
df_MIA.shape

(875288, 23)

In [66]:
df_MIA.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,d12d139c76a395b01a119ae6bb633130,2022-04-23,2022-05-05,MIA,PHL,PT4H34M,False,False,False,356.60,...,1651766760||1651776600,2022-05-05T12:06:00.000-04:00||2022-05-05T14:5...,ATL||PHL,MIA||ATL,Delta||Delta,DL||DL,Boeing 757||Boeing 737-900,6600||7200,596||667,coach||coach
1,d589fb649619f63feab8b8d9d9f5f4de,2022-04-23,2022-05-05,MIA,PHL,PT8H28M,False,False,False,397.21,...,1651773540||1651793100,2022-05-05T13:59:00.000-04:00||2022-05-05T19:2...,EWR||PHL,MIA||EWR,United||United,UA||UA,Airbus A319||,10920||2880,1104||97,coach||coach
2,2e9d28ce20e10a1e2f4b85911e8f47b8,2022-04-23,2022-05-05,MIA,PHL,PT9H50M,False,False,False,397.21,...,1651777200||1651801620,2022-05-05T15:00:00.000-04:00||2022-05-05T21:4...,EWR||PHL,MIA||EWR,United||United,UA||UA,Airbus A319||,10980||2880,1104||97,coach||coach
3,14b6b90d5ae14da9dab933aa58665d4a,2022-04-23,2022-05-05,MIA,PHL,PT10H50M,False,False,False,397.21,...,1651773540||1651801620,2022-05-05T13:59:00.000-04:00||2022-05-05T21:4...,EWR||PHL,MIA||EWR,United||United,UA||UA,Airbus A319||,10920||2880,1104||97,coach||coach
4,e3815febf57c2a01636fc121fde5702c,2022-04-23,2022-05-05,MIA,PHL,PT4H53M,False,False,False,436.60,...,1651795320||1651801620,2022-05-05T20:02:00.000-04:00||2022-05-05T21:4...,EWR||PHL,MIA||EWR,United||United,UA||UA,Airbus A320||,11280||2880,1104||97,coach||coach

In [67]:
df_MIA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 875288 entries, 0 to 875287
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              875288 non-null  object
 1   searchDate                         875288 non-null  object
 2   flightDate                         875288 non-null  object
 3   startingAirport                    875288 non-null  object
 4   destinationAirport                 875288 non-null  object
 5   travelDuration                     875288 non-null  object
 6   isBasicEconomy                     875288 non-null  bool
 7   isRefundable                       875288 non-null  bool
 8   isNonStop                          875288 non-null  bool
 9   totalFare                          875288 non-null  float64
 10  totalTravelDistance                812419 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  875288 non-null  object
 12  segmentsDepartureTimeRaw           875288 non-null  object
 13  segmentsArrivalTimeEpochSeconds    875288 non-null  object
 14  segmentsArrivalTimeRaw             875288 non-null  object
 15  segmentsArrivalAirportCode         875288 non-null  object
 16  segmentsDepartureAirportCode       875288 non-null  object
 17  segmentsAirlineName                875288 non-null  object
 18  segmentsAirlineCode                875288 non-null  object
 19  segmentsEquipmentDescription       855853 non-null  object
 20  segmentsDurationInSeconds          875288 non-null  object
 21  segmentsDistance                   857433 non-null  object
 22  segmentsCabinCode                  875288 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 136.1+ MB

In [68]:
zip_dir_oak = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/OAK'

# Directory to extract CSV files
extract_dir_oak = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/OAK'

# The output CSV file where all data will be merged
output_csv_oak = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/OAK_merged.csv'

os.makedirs(extract_dir_oak, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_oak):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_oak, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_oak)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_oak, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_oak, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_oak}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/OAK_merged.csv.

In [69]:
df_OAK = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/OAK_merged.csv')

In [70]:
df_OAK.shape

(527105, 23)

In [71]:
df_OAK.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,e1b137527b9175d7d930c3af82e70ae0,2022-04-19,2022-05-20,OAK,ATL,PT7H52M,False,False,False,103.98,...,1653107460||1653126600,2022-05-20T22:31:00.000-06:00||2022-05-21T05:5...,DEN||ATL,OAK||DEN,Frontier Airlines||Frontier Airlines,F9||F9,||Airbus A320,9180||10620,943||1207,coach||coach
1,d813ebd107e3fa700206c0d96015da7a,2022-04-19,2022-05-20,OAK,ATL,PT6H15M,False,False,False,216.58,...,1653067080||1653084660,2022-05-20T10:18:00.000-07:00||2022-05-20T18:1...,LAX||ATL,OAK||LAX,Spirit Airlines||Spirit Airlines,NK||NK,||AIRBUS INDUSTRIE A320 SHARKLETS,4920||15600,None||None,coach||coach
2,e8ece5ad6f5962c696e06e031fc2a24a,2022-04-19,2022-05-20,OAK,ATL,PT9H6M,False,False,False,216.58,...,1653056820||1653084660,2022-05-20T07:27:00.000-07:00||2022-05-20T18:1...,LAX||ATL,OAK||LAX,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||AIRBUS INDUST...,4920||15600,None||None,coach||coach
3,c004a54681335100f326c9613b3c9448,2022-04-19,2022-05-20,OAK,ATL,PT6H17M,False,False,False,237.58,...,1653110940||1653127980,2022-05-20T22:29:00.000-07:00||2022-05-21T06:1...,LAS||ATL,OAK||LAS,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A320 SHARKLETS||Airbus A319,5580||13980,None||None,coach||coach
4,4a42bbf77211b4afa7b9e14005949120,2022-04-19,2022-05-20,OAK,ATL,PT14H12M,False,False,False,307.21,...,1653115560||1653159180,2022-05-20T23:46:00.000-07:00||2022-05-21T14:5...,SEA||ATL,OAK||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Boeing 737-900||Boeing 737-900,7500||17580,672||2178,coach||coach

In [72]:
df_OAK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527105 entries, 0 to 527104
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              527105 non-null  object
 1   searchDate                         527105 non-null  object
 2   flightDate                         527105 non-null  object
 3   startingAirport                    527105 non-null  object
 4   destinationAirport                 527105 non-null  object
 5   travelDuration                     527105 non-null  object
 6   isBasicEconomy                     527105 non-null  bool
 7   isRefundable                       527105 non-null  bool
 8   isNonStop                          527105 non-null  bool
 9   totalFare                          527105 non-null  float64
 10  totalTravelDistance                459063 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  527105 non-null  object
 12  segmentsDepartureTimeRaw           527105 non-null  object
 13  segmentsArrivalTimeEpochSeconds    527105 non-null  object
 14  segmentsArrivalTimeRaw             527105 non-null  object
 15  segmentsArrivalAirportCode         527105 non-null  object
 16  segmentsDepartureAirportCode       527105 non-null  object
 17  segmentsAirlineName                527105 non-null  object
 18  segmentsAirlineCode                527105 non-null  object
 19  segmentsEquipmentDescription       524678 non-null  object
 20  segmentsDurationInSeconds          527105 non-null  object
 21  segmentsDistance                   523477 non-null  object
 22  segmentsCabinCode                  527105 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 81.9+ MB

In [73]:
zip_dir_ord = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/ORD'

# Directory to extract CSV files
extract_dir_ord = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/ORD'

# The output CSV file where all data will be merged
output_csv_ord = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ORD_merged.csv'

os.makedirs(extract_dir_ord, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_ord):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_ord, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_ord)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_ord, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_ord, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_ord}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ORD_merged.csv.

In [74]:
df_ORD = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/ORD_merged.csv')

In [75]:
df_ORD.shape

(894646, 23)

In [76]:
df_ORD.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,ef17c0e1048f064c375c765b10352536,2022-04-19,2022-06-08,ORD,ATL,PT2H10M,False,False,True,110.59,...,1654733400,2022-06-08T20:10:00.000-04:00,ATL,ORD,Spirit Airlines,NK,Airbus A319,7800,NaN,coach
1,3db26ea710b094b5fbbd200573db4e40,2022-04-19,2022-06-08,ORD,ATL,PT7H32M,False,False,False,117.96,...,1654712880||1654729800,2022-06-08T14:28:00.000-04:00||2022-06-08T19:1...,MCO||ATL,ORD||MCO,Spirit Airlines||Spirit Airlines,NK||NK,AIRBUS INDUSTRIE A321 SHARKLETS||Airbus A319,10200||6000,None||None,coach||coach
2,050659ff2132f7a97312aef0f6914049,2022-04-19,2022-06-08,ORD,ATL,PT1H54M,True,False,True,140.60,...,1654691040,2022-06-08T08:24:00.000-04:00,ATL,ORD,Delta,DL,Airbus A321,6840,600,coach
3,19539cc757e0326566a1cb5a03dd9c5a,2022-04-19,2022-06-08,ORD,ATL,PT1H56M,True,False,True,140.60,...,1654698060,2022-06-08T10:21:00.000-04:00,ATL,ORD,Delta,DL,Airbus A320,6960,600,coach
4,231a2babd63c7a8291acedec3e25b36c,2022-04-19,2022-06-08,ORD,ATL,PT2H,False,False,True,140.60,...,1654725300,2022-06-08T17:55:00.000-04:00,ATL,ORD,American Airlines,AA,Embraer 175,7200,600,coach

In [77]:
df_ORD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 894646 entries, 0 to 894645
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              894646 non-null  object
 1   searchDate                         894646 non-null  object
 2   flightDate                         894646 non-null  object
 3   startingAirport                    894646 non-null  object
 4   destinationAirport                 894646 non-null  object
 5   travelDuration                     894646 non-null  object
 6   isBasicEconomy                     894646 non-null  bool
 7   isRefundable                       894646 non-null  bool
 8   isNonStop                          894646 non-null  bool
 9   totalFare                          894646 non-null  float64
 10  totalTravelDistance                812657 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  894646 non-null  object
 12  segmentsDepartureTimeRaw           894646 non-null  object
 13  segmentsArrivalTimeEpochSeconds    894646 non-null  object
 14  segmentsArrivalTimeRaw             894646 non-null  object
 15  segmentsArrivalAirportCode         894646 non-null  object
 16  segmentsDepartureAirportCode       894646 non-null  object
 17  segmentsAirlineName                894646 non-null  object
 18  segmentsAirlineCode                894646 non-null  object
 19  segmentsEquipmentDescription       883683 non-null  object
 20  segmentsDurationInSeconds          894646 non-null  object
 21  segmentsDistance                   883862 non-null  object
 22  segmentsCabinCode                  894646 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 139.1+ MB

In [78]:
zip_dir_phl = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/PHL'

# Directory to extract CSV files
extract_dir_phl = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/PHL'

# The output CSV file where all data will be merged
output_csv_phl = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/PHL_merged.csv'

os.makedirs(extract_dir_phl, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_phl):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_phl, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_phl)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_phl, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_phl, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_phl}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/PHL_merged.csv.

In [79]:
df_PHL = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/PHL_merged.csv')

In [80]:
df_PHL.shape

(785039, 23)

In [81]:
df_PHL.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,ddc255f14e33accbcb901849bab49d54,2022-05-06,2022-06-22,PHL,ATL,PT2H20M,False,False,True,66.97,...,1655954100,2022-06-22T23:15:00.000-04:00,ATL,PHL,Spirit Airlines,NK,NaN,8400,NaN,coach
1,b08518a570f10b5bc713c377058e6bcd,2022-05-06,2022-06-22,PHL,ATL,PT2H14M,False,False,True,66.99,...,1655933160,2022-06-22T17:26:00.000-04:00,ATL,TTN,Frontier Airlines,F9,NaN,8040,701,coach
2,c7c67edb42ab6c7eceec0a2531ae4ed3,2022-05-06,2022-06-22,PHL,ATL,PT2H16M,False,False,True,71.98,...,1655922660,2022-06-22T14:31:00.000-04:00,ATL,PHL,Frontier Airlines,F9,NaN,8160,667,coach
3,80e675e8d9b2b795d6a9b540d1df0130,2022-05-06,2022-06-22,PHL,ATL,PT2H16M,False,False,True,71.98,...,1655929620,2022-06-22T16:27:00.000-04:00,ATL,PHL,Frontier Airlines,F9,NaN,8160,667,coach
4,d7c748a588b0b9857dac2fcac2ce7740,2022-05-06,2022-06-22,PHL,ATL,PT11H37M,False,False,False,89.59,...,1655954940||1655985840,2022-06-22T23:29:00.000-04:00||2022-06-23T08:0...,MIA||ATL,PHL||MIA,Frontier Airlines||Frontier Airlines,F9||F9,||,10920||7440,1016||596,coach||coach

In [82]:
df_PHL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785039 entries, 0 to 785038
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              785039 non-null  object
 1   searchDate                         785039 non-null  object
 2   flightDate                         785039 non-null  object
 3   startingAirport                    785039 non-null  object
 4   destinationAirport                 785039 non-null  object
 5   travelDuration                     785039 non-null  object
 6   isBasicEconomy                     785039 non-null  bool
 7   isRefundable                       785039 non-null  bool
 8   isNonStop                          785039 non-null  bool
 9   totalFare                          785039 non-null  float64
 10  totalTravelDistance                719245 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  785039 non-null  object
 12  segmentsDepartureTimeRaw           785039 non-null  object
 13  segmentsArrivalTimeEpochSeconds    785039 non-null  object
 14  segmentsArrivalTimeRaw             785039 non-null  object
 15  segmentsArrivalAirportCode         785039 non-null  object
 16  segmentsDepartureAirportCode       785039 non-null  object
 17  segmentsAirlineName                785039 non-null  object
 18  segmentsAirlineCode                785039 non-null  object
 19  segmentsEquipmentDescription       759728 non-null  object
 20  segmentsDurationInSeconds          785039 non-null  object
 21  segmentsDistance                   778542 non-null  object
 22  segmentsCabinCode                  785039 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 122.0+ MB

In [83]:
zip_dir_sfo = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/external/SFO'

# Directory to extract CSV files
extract_dir_sfo = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/raw/SFO'

# The output CSV file where all data will be merged
output_csv_sfo = '/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/SFO_merged.csv'

os.makedirs(extract_dir_sfo, exist_ok=True)

# Flag to check if it's the first file (to write headers only once)
first_file = True

# Loop through all zip files in the zip_dir
for zip_file in os.listdir(zip_dir_sfo):
    if zip_file.endswith('.zip'):
        # Full path to the zip file
        zip_file_path = os.path.join(zip_dir_sfo, zip_file)
        
        # Open and extract all CSV files
        with zipfile.ZipFile(zip_file_path, 'r') as z:
            z.extractall(extract_dir_sfo)
            
            # Loop through the extracted files to process CSVs
            for extracted_file in z.namelist():
                if extracted_file.endswith('.csv'):
                    # Full path to the extracted CSV file
                    csv_file_path = os.path.join(extract_dir_sfo, extracted_file)
                    
                    # Read the CSV file in chunks (to handle large files)
                    for chunk in pd.read_csv(csv_file_path, chunksize=10000):
                        # Write to output CSV (append mode) without writing headers for subsequent files
                        chunk.to_csv(output_csv_sfo, mode='a', header=first_file, index=False)
                        
                        # After the first file is written, set flag to False
                        first_file = False

print(f"All files merged into {output_csv_sfo}.")

All files merged into /Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/SFO_merged.csv.

In [84]:
df_SFO = pd.read_csv('/Users/vega7unk/Documents/3rd_Sem_DSI/Adv_ML/AT3/at_3/adv_mla_at3/data/processed/SFO_merged.csv')

In [85]:
df_SFO.shape

(949046, 23)

In [86]:
df_SFO.head()

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,...,segmentsArrivalTimeEpochSeconds,segmentsArrivalTimeRaw,segmentsArrivalAirportCode,segmentsDepartureAirportCode,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsDurationInSeconds,segmentsDistance,segmentsCabinCode
0,b7dbcfb6d8d7b2b4ee9c87eb2512c573,2022-04-18,2022-05-21,SFO,ATL,PT7H19M,False,False,False,173.99,...,1653195720||1653212460,2022-05-21T23:02:00.000-06:00||2022-05-22T05:4...,DEN||ATL,SFO||DEN,Frontier Airlines||Frontier Airlines,F9||F9,||,9600||10620,954||1207,coach||coach
1,a8a83aa27570391641f645d21a751603,2022-04-18,2022-05-21,SFO,ATL,PT7H47M,True,False,False,269.60,...,1653195600||1653215820,2022-05-21T22:00:00.000-07:00||2022-05-22T06:3...,SEA||ATL,SFO||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Airbus A320||Boeing 737-800,7800||17520,679||2178,coach||coach
2,8bc3b32cb7e932af662b3763a304ba8e,2022-04-18,2022-05-21,SFO,ATL,PT9H7M,True,False,False,269.60,...,1653190980||1653215820,2022-05-21T20:43:00.000-07:00||2022-05-22T06:3...,SEA||ATL,SFO||SEA,Alaska Airlines||Alaska Airlines,AS||AS,AIRBUS INDUSTRIE A321 SHARKLETS||Boeing 737-800,7980||17520,679||2178,coach||coach
3,e2b6beb3d4866769050042bed886273c,2022-04-18,2022-05-21,SFO,ATL,PT9H38M,True,False,False,269.60,...,1653146040||1653172680,2022-05-21T08:14:00.000-07:00||2022-05-21T18:3...,SEA||ATL,SFO||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Airbus A320||Boeing 737-900,8040||17820,679||2178,coach||coach
4,8f1685cbc1f6504f7b337ce9f2dc209e,2022-04-18,2022-05-21,SFO,ATL,PT10H7M,True,False,False,269.60,...,1653187200||1653215820,2022-05-21T19:40:00.000-07:00||2022-05-22T06:3...,SEA||ATL,SFO||SEA,Alaska Airlines||Alaska Airlines,AS||AS,Airbus A320||Boeing 737-800,7800||17520,679||2178,coach||coach

In [87]:
df_SFO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949046 entries, 0 to 949045
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   legId                              949046 non-null  object
 1   searchDate                         949046 non-null  object
 2   flightDate                         949046 non-null  object
 3   startingAirport                    949046 non-null  object
 4   destinationAirport                 949046 non-null  object
 5   travelDuration                     949046 non-null  object
 6   isBasicEconomy                     949046 non-null  bool
 7   isRefundable                       949046 non-null  bool
 8   isNonStop                          949046 non-null  bool
 9   totalFare                          949046 non-null  float64
 10  totalTravelDistance                942658 non-null  float64
 11  segmentsDepartureTimeEpochSeconds  949046 non-null  object
 12  segmentsDepartureTimeRaw           949046 non-null  object
 13  segmentsArrivalTimeEpochSeconds    949046 non-null  object
 14  segmentsArrivalTimeRaw             949046 non-null  object
 15  segmentsArrivalAirportCode         949046 non-null  object
 16  segmentsDepartureAirportCode       949046 non-null  object
 17  segmentsAirlineName                949046 non-null  object
 18  segmentsAirlineCode                949046 non-null  object
 19  segmentsEquipmentDescription       934877 non-null  object
 20  segmentsDurationInSeconds          949046 non-null  object
 21  segmentsDistance                   948527 non-null  object
 22  segmentsCabinCode                  949046 non-null  object
dtypes: bool(3), float64(2), object(18)
memory usage: 147.5+ MB