In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

In [2]:
df = pd.read_csv('../../data/processed/df_prep_reg.csv')

In [3]:
df

,totalTravelDistance,totalFare,travelDurationHours,numSegments,daysUntilDeparture,startingAirport_encoded,destinationAirport_encoded,isNonStop_encoded,isBasicEconomy_encoded,isRefundable_encoded,cabinType_encoded,timeBlock_encoded
0,762.00,208.60,2.08,1,49,0,6,1,0,0,1,0
1,1207.00,296.61,3.30,1,40,0,3,1,0,0,1,2
2,2312.00,257.60,7.07,2,24,0,3,0,0,0,1,0
3,947.00,127.60,5.58,2,17,0,1,0,0,0,1,1
4,1248.00,417.60,5.42,2,3,0,2,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
627977,1468.00,458.60,3.57,1,17,15,4,1,0,0,1,0
627978,2897.00,747.60,9.07,2,45,15,10,0,0,0,1,3
627979,2698.00,484.60,5.80,1,8,15,1,1,0,0,1,1
627980,954.00,205.60,2.55,1,35,15,3,1,0,0,1,2
627981,3670.00,841.60,10.88,2,10,15,11,0,0,0,1,0

In [4]:
df.describe()

,totalTravelDistance,totalFare,travelDurationHours,numSegments,daysUntilDeparture,startingAirport_encoded,destinationAirport_encoded,isNonStop_encoded,isBasicEconomy_encoded,isRefundable_encoded,cabinType_encoded,timeBlock_encoded
count,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00,627982.00
mean,1570.19,382.23,6.79,1.78,27.59,7.53,7.51,0.30,0.06,0.00,1.01,0.83
std,842.28,209.95,3.62,0.58,17.35,4.67,4.66,0.46,0.24,0.00,0.15,0.98
min,97.00,23.97,0.02,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,862.00,228.60,3.97,1.00,12.00,3.00,3.00,0.00,0.00,0.00,1.00,0.00
50%,1392.00,354.01,6.47,2.00,26.00,8.00,8.00,0.00,0.00,0.00,1.00,1.00
75%,2376.00,498.60,9.08,2.00,42.00,11.00,11.00,1.00,0.00,0.00,1.00,1.00
max,3958.00,4752.60,23.93,4.00,60.00,15.00,15.00,1.00,1.00,1.00,4.00,3.00

# Model

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [6]:
X = df.drop(['totalFare'], axis=1)
y = df[['totalFare']]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=42)

## Xgboost

In [7]:
from xgboost import XGBRegressor

# Initialise the XGBoost regressor with chosen hyperparameters
xgb_regressor = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42, n_jobs=-1)

# Train the model
xgb_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 17104.23509338983
Mean Absolute Error: 90.36124463132806
R^2 Score: 0.6086263656616211

In [8]:
from xgboost import XGBRegressor

# Initialise the XGBoost regressor with chosen hyperparameters
xgb_regressor = XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=6, random_state=42, n_jobs=-1)

# Train the model
xgb_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 17369.952421179656
Mean Absolute Error: 91.56477153207611
R^2 Score: 0.6254907846450806

In [10]:
# Initialise the XGBoost regressor with best hyperparameters
xgb_regressor = XGBRegressor(
    n_estimators=300, 
    learning_rate=0.1, 
    max_depth=6, 
    min_child_weight=5,
    subsample=0.8, 
    colsample_bytree=1.0, 
    gamma=0,
    random_state=42, 
    n_jobs=-1
)

# Train the model
xgb_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 15396.74779561135
Mean Absolute Error: 84.84961630492393
R^2 Score: 0.6476964950561523

# Hyperprarmeter turning

In [11]:
from sklearn.model_selection import RandomizedSearchCV

# Define the parameter grid for RandomizedSearchCV
param_grid = {
    'n_estimators': [100, 300, 500],                
    'learning_rate': [0.01, 0.05, 0.1],              
    'max_depth': [3, 6],                       
    'subsample': [0.8, 1.0],                   
    'colsample_bytree': [0.8, 1.0],            
    'gamma': [0, 0.1],                         
    'min_child_weight': [1, 5]                
}


# Initialize the XGBRegressor
xgb_regressor = XGBRegressor(random_state=42)

# Set up RandomizedSearchCV
random_search = RandomizedSearchCV(
    estimator=xgb_regressor,
    param_distributions=param_grid,
    n_iter=100,  # Number of parameter settings sampled
    scoring='neg_mean_squared_error',  # Optimization metric
    cv=5,  # 5-fold cross-validation
    verbose=1,
    n_jobs=-1,  # Use all available cores
    random_state=42
)

# Fit RandomizedSearchCV to the data
random_search.fit(X_train, y_train)

# Get the best model and parameters
best_xgb = random_search.best_estimator_
print("Best Parameters:", random_search.best_params_)

# Make predictions on the test set using the best model
y_pred = best_xgb.predict(X_test)

# Evaluate the tuned model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R^2 Score: {r2}")

Fitting 5 folds for each of 100 candidates, totalling 500 fits
Best Parameters: {'subsample': 0.8, 'n_estimators': 500, 'min_child_weight': 1, 'max_depth': 6, 'learning_rate': 0.1, 'gamma': 0.1, 'colsample_bytree': 1.0}
Mean Squared Error: 14296.132491813845
Mean Absolute Error: 81.25750703856643
R^2 Score: 0.6728804111480713

In [14]:
import joblib

# Save the model to a .pkl file using joblib
joblib.dump(best_xgb, "xgb_model.pkl")

['xgb_model.pkl']